.navbar{
    background-color: #25c7b2d3;
    min-height: 50px;
}

.nav-link { 
    color: #ffffff;
    font-family:'Franklin Gothic Medium', sans-serif;
}

.navbar-brand{
    color: #ffffff;
    font-size:230%;
    font-family:Georgia, serif;
    font-style:oblique;
}

#carouselExampleIndicators{
    height: 40%;
}

.container{
    width: 80%;
}
.pading {
    padding: 20px 20px;
}
body{
    background: url(/Imagenes/fondo.jpg);
}
.btn-group{
    background-color:rgba(100, 100, 100, 0.589);
    width: 60%;
}

.btn{
    width:60%
}
.card mb-3{
    width:30%
}
.card-link{
    color: #25c7b2d3;
    font-family:'Franklin Gothic Medium', sans-serif
}

p{
    color: #25c7b2d3;
    font-family:'Franklin Gothic Medium', sans-serif
}

.mb-3{
    width: 60%;
}

h1{
    text-align: center;
}
