.navbar{
    background-color: #25c7b2d3;
    min-height: 50px;
}

.nav-link { 
    color: #ffffff;
    font-family:'Franklin Gothic Medium', sans-serif;
}

.navbar-brand{
    color: #ffffff;
    font-size:230%;
    font-family:Georgia, serif;
    font-style:oblique;
}

#carouselExampleIndicators{
    height: 40%;
}

.container{
    width: 80%;
}
.pading {
    padding: 20px 20px;
}
body{
    background: url(/Imagenes/fondo.jpg);
}
.btn-group{
    background-color:rgba(100, 100, 100, 0.589);
    width: 60%;
}

.btn{
    width:60%
}
.card mb-3{
    width:30%
}
.card-link{
    color: #25c7b2d3;
    font-family:'Franklin Gothic Medium', sans-serif
}

p{
    color: #25c7b2d3;
    font-family:'Franklin Gothic Medium', sans-serif
}

.mb-3{
    width: 60%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    color: #ffffff;
    font-family:'Franklin Gothic Medium', sans-serif
}

h4{
    font-family:'Franklin Gothic Medium', sans-serif;
    font-size:small;
}

h5{
    text-align: center;
    font-family:'Franklin Gothic Medium', sans-serif;
    font-size:15px;
    font-weight: bold;
}

h6{
    font-family:'Franklin Gothic Medium', sans-serif;
    font-size: 30px;
}

h7{
    text-align: center;
    font-family:'Franklin Gothic Medium', sans-serif;
    font-size:small;
}

#imagen{
    float: right;
    margin: 3%;
}

#envmens{
    background-color:#25c7b2d3;
}

#contact{
    background-color:#858585d3;
}

.form-control{
    text-align: center;
    width: 70%;
    font-size: small;
    font-family:'Lucida Sans',sans-serif;
}

.form-label{
    text-align: center;
    width: 70%;
    font-family:'Franklin Gothic Medium', sans-serif;
}


#btnformcont{
    width: 42%;
    background-color:#858585d3;
    border: 2px solid #4f4f4fe8;
}


#borderimgn{
    padding-right: 25px;
}

#fontcardindex{
    color: #25c7b2d3;
    font-size: 13px;
    text-align: end;
    font-weight: bold;
}
